* { 
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: darkgray;
}

.chatbox {
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: white;
    padding: 25px;
    margin: 0px auto 20px auto;
    box-shadow: 0 3px #ccc;
    border-radius: 0px 0px 10px 10px;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    /*background:rgba(200, 200, 200, .1);*/
}

/*Styling the scrolllbar*/
.chatlogs::-webkit-scrollbar{
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}


.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo img{
    width: 100%;
}

.chat .chat-message {
    padding: 15px;
    margin: 5px 10px 0;
    /*border-radius: 10px;*/
    font-size: 18px;
}

/*Commented out because i used a more general version below*/
/*.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}*/

.user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.friend .chat-message {
    color: black;
    width: auto;
    max-width: 70%;
    background: rgb(229, 229, 234);
    border-radius: 20px 20px 20px 0;
}

.self .chat-message {
    color: white;
    max-width: 80%;
    width: auto;
    margin: 5px 0 5px auto;
    /*background: rgba(255, 153, 0, .7);*/
    border-radius: 20px 20px 0px 20px;

    background: rgb(64, 172, 246);
    overflow-wrap: break-word;

    /*order: -1;*/
}

.headerBar{
    /*border: 10px solid black;*/
    font-size: 25px;
    color: white;
    padding: 25px;
    width: 500px;
    min-width: 390px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 20px auto 0px auto;
    background: orange;
    border-radius: 10px 10px 0px 0px;
}

.headerBar .title {
    margin: auto 20px;
}

.headerBar .user-photo {
    margin: 0px 0px 0px 10px;

}

.headerBar .user-photo img{
    width: 100%;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    width: 65;
    align-items: flex-start;
    overflow: auto;
}

#inputDiv {
    width: 75%;
    margin-right: 15px;
    
}

.chat-form textarea {
    padding: 5px;
    background: #fbfbfb;
    width: 100%;
    height: 65px;
    border: 2px solid lightblue;
    border-radius: 3px;
    resize: none;
    /*padding: 10px;*/
    font-size: 18px;
    color: #000;
}

.chat-form textarea:focus {
    background: #fff;
}

#chat-form-buttons {
    padding: auto;
}

/*.chat-form button {
    height: 65px;
    background: rgba(255, 153, 0, .7);;
    padding: 5px 15px;
    font-size: 30px;
    color: white;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(255, 153, 0, .7);;
    cursor: pointer;
}*/

.chat-form button:hover{
    background: rgb(255, 153, 0);
}

.gif img {
    margin: 10px;
    border-radius: 20px;
}


.buttonResponse {
    color: white;
    max-width: 80%;
    width: fit-content;
    margin: 5px 0 5px auto;
    /*background: rgba(255, 153, 0, .7);*/
    border-radius: 20px 20px 0px 20px;
    background: rgb(64, 172, 246);
    overflow-wrap: break-word;
    font-size: 18px;
    padding: 10px;
    margin: 10px 20px;
    float: left;
    /*order: -1;*/
}

.buttonResponse:hover{
        background: rgb(100, 200, 255);
}
/*
#switchInputDiv {
    position: fixed;
    right: 580px;
    padding-right: 10px;
}*/


#switchInputType{
    width: 40px;
    height: 40px;
   
}

#rec {
    width: 40px;
    height: 40px;
}