* { 
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: cyan;
}

.chatbox {
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: white;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    background: cyan;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}